<header class="Header">
    <div class="container full-height-md" >
        <div class="row full-height-md align-items-md-center" >
            <div class="col-md-4 text-center text-md-left py-4 py-md-0" >
                <img src="/assets/img/logo.png" class="img-fluid Logo" >
            </div>
            <div class="col-md-8" >
                <h1 class="Header__title">Zet je dieet op de automatische piloot!</h1>
                <p class="Header__lead">
                    Sjef genereert automatisch voedingsschema’s, gebaseerd op jouw profiel en doelen, die je kunt aanpassen op basis van je planning en voedsel voorkeuren.
                </p>
            </div>
        </div>
    </div>
</header>